[submodule "StakeContracts/lib/forge-std"]
	path = StakeContracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "StakeContracts/lib/openzeppelin-contracts"]
	path = StakeContracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
